*.suo
*.user
bin
obj

BeaconServSite/App_Data/
BeaconServSite/Content/photos/
BeaconServSite/Content/videos/
BeaconServSite/Content/maps/7th

node_modules
iisnode
*.debug
NodeBeacon/static/util/clock.json
NodeBeacon/static/util/football.json
NodeBeacon/static/logs/*.log