body {
    background-color:transparent;
}
#map {
    position:absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background-color: transparent;
    z-index: 0;
}

#debug {
    position:absolute;
    /**/display:inline-block;/**/
    /*display:none;*/
    background-color: #ff0;

    top: 30px;
    left: 100px;
    

    z-index: 100;

}

@media only screen and (max-width: 1024px) {
    #debug {
        display:none;
    }
}

#debugArea {
    width: 400px;
}

.simple-label-layer {
    position:absolute;
    display:inline-block;
    text-align: center;
    padding: 5px 7px;
    border-radius: 4px;
}

#Test
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    padding: 5px 7px;
}

#editor
{
    width: 600px;
    display:none;
}

#beacon_minZoom
{
    margin-top: 10px;
}