body {
    font-size: 100pt;
}

input {
    font-size: 72pt;
    width: 100%;
}

table {
    width: 100%;
}

button {
    font-size: 150pt;
}

#timeLabel {
    font-size: 300pt;
    text-align: center;
}

#eventLabel {
    font-size: 200pt;
    text-align: center;
}

#untilLabel {
    font-size: 100pt;
    text-align: center;
}