body {
    margin: 0;
    padding: 0;
    background-color: black;
}
#main {
    
    width: 1920px;
    height: 1080px;
    border: none;
}

.fsbutton {
    opacity: 0;
    top: 50px;
    left: 10px;
    font-size: 50px;
    position: absolute;
}

.fsbutton:hover {
    opacity: 1;
}