.screen {
    display:inline-block;
    width: 278px;
    height: 107px;
    border: 12px solid black;
    margin: 5px;
    padding: 5px;
    padding-top: 50px;

    text-align: center;
    
    overflow: hidden;
}
.
.screen.screenDrop {
    background-color: #ccf;
}

#listOfScreens {
    
}

.screen .url {
    word-break: break-all;
}