.screenContainer {
    display:inline-block;
    width: 318px;
    height: 500px;
    vertical-align: top;
}

.screen {
    display:inline-block;
    width: 278px;
    height: 107px;
    border: 12px solid black;
    margin: 5px;
    padding: 5px;
    padding-top: 50px;

    text-align: center;
    
    overflow: hidden;
}
.
.screen.screenDrop {
    background-color: #ccf;
}

#listOfScreens {
    
}

.screen .url {
    word-break: break-all;
}

.addNew {
    color: #fff;
    border: 1px solid #99d;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    background-color: #bbf;
}

.schedule {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.time {
    width: 70px;
}